<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>A User with All of his Data</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" href="./styles.css">
  </head>

  <body>
    {{#}}
    <div class="users">
      {{users}}

    <h5 class ="allDataHeader">A user with all of their Data</h5>

    <section class="left">
      <a href="{{id}}"><div class="single-user">
        <div class="avatar">
          <img src="{{avatar}}">
        <p class="edu"> Education: </p>
        <p class ="skills"> Skills: </p>
    </section> <!-- end of left -->

    <section class="right">
      <h1 class ="robotName">{{name}}</h1>
      <p class ="info">{{location}} |, {{job}} |</p>
      <br></br>
      <p class="info2">{{email}} |, {{phone}}></p>
      <br></br>
      <p class="eduInfo">{{university}}</p>
      <br></br>
      <p class="skillsInfo">{{skills}}></p>

</div> <!-- end of users -->
  </body>
</html>
