/**{
  box-sizing: border-box;
};*/

.Snagabot {
  text-align:center;
  font-size:60px;
  font-family: 'Muli', sans-serif;

}
.users{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Muli', sans-serif;
}

#location {
  text-align:center;
  color:gray;
}

a{
  width: 20%;
  border: 1px solid gray;
  text-align: left;
  align-items: center;
  margin: 10px;
  text-decoration: none;
}

.single-user img{
  width: 75%;
}

.single-user p{
  margin-left: 10px;
  margin-top: -20px;
}

.avatar {
  height: 140px;
  justify-content: center;
}


h4 {
  text-align: center;
  margin-bottom:0px 0px 10px 0px;
  font-size:30px;
}

.bottomUsers {
  margin-top:100px;
  text-align:center;
}


}
.dataUserHead {
  font-size: 25px;
  color: black;
  text-align:left;
}

.robot {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;

}


.leftSide {
  display:flex;
  flex-direction:column;
}

.leftSide p {
  color:orange;
  font-size:25px;
}

.rightSide {
  display:flex
  flex-direction:column;
}


.rightSide h4 {
  font-size:70px;
  margin-top: 0px;
  margin-bottom: 0px;
}


.avatarCircle {
  border-radius: 100px;
  border: 1px solid gray;
  margin-right:30px;
  width:150px;
  padding:30px;
}

.uniSkills {
  margin-top:-75px;
  font-size:25px;
  color:purple;
}

.eduLabel {
  text-align: right;
padding-right: 20px;
}

.skillsLabel {
  text-align: right;
padding-right: 20px;
}

.locale {
  font-size:20px;
  margin-bottom:120px;
}
